* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  min-width: 600px;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container-left {
  height: 100vh;
  background-color: #101324;
  width: 65px;
  padding: 10px;
  transition: 0.5s;
    overflow: hidden;

}
.container-layout-left{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-left.active {
  width: 290px;
}

.container-right {
  width: 100%;
  height: auto;
}

.brand-name {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 20px;
}



/* brand */


.menu-item-brand {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 7px 10px;
    border: 1px solid #101324;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .menu-item-brand .menu-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menu-item-brand .menu-link .icon {
    min-width: 45px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-item-brand .menu-link .icon ion-icon {
    font-size: 21px;
    color: white;
  }
  
  .menu-item-brand .menu-link .title {
    width: 100%;
    text-align: end;
    font-size: 16px;
    color: white;
    font-weight: 600;

  }


/* name */
.menu-item {
  width: 100%;
  height: auto;
  list-style-type: none;
  padding: 7px 10px;
  border: 1px solid #101324;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: column;
}

.menu-item .menu-link {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.menu-item .menu-link .icon {
  min-width: 45px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-item .menu-link .icon-down {
  /* position: relative; */
  margin-top: 2px;
  transition: 0.9s;
}

.menu-item .menu-link .icon-down.rotate{
    transform: rotate(180deg);
}
.menu-item .menu-link .icon ion-icon {
  font-size: 21px;
}

.menu-item .menu-link .title {
  width: 150px;
  font-size: 14px;
}
.menu-item:hover {
  background-color: #eaeaea1e;
}
.menu-item:hover .icon-down{
    transform: rotate(180deg);
}

.menu-item.active {
  background-color: #065ef551;
}

.menu-item .menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  cursor: pointer;
}

.menu-item .down-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  cursor: pointer;
  height: 0px;
  display: flex;
  transition: 0.9s all ease-in-out;
  overflow: hidden;
}
.link-page{
    width: 200px;
    font-size: 14px;
    padding: 5px 0px;
    padding-left: 45px;
    opacity: 0.8    ;
}
.link-page:hover{
    opacity: 1;
    background-color: #eaeaea1e;
}

.menu-item .down-ul.show{
    height: 100px;
}

.menu-item .down-ul.hide{
    height: 0px;
}


/* .menu-item:hover .icon-down{
    transform: rotate(180deg);
} */
.menu-item:hover .icon-down{
    transform: rotate(180deg);
}

.menu-logout{
    position: relative;
    background-color: #101324;
}



.container-right{
    background-color: #065df5;
    background-image: url('a.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .menu-item .down-ul:last-child.show{
    height: 50px;
} */

/* .menu-item:hover .down-ul,.menu-item:focus .down-ul{
    height: 100px;
} */

#style-1::-webkit-scrollbar-track {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
    border-radius: 35px;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #C5C5C5;
}